.Accommodations {
    display: flex;
    flex-direction: column;
    height: 100vh; 
}

.Accommodations-main {
    flex-grow: 1;
    background-image: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url("./pictures/acc.jpg");
    background-position: center bottom;
    background-size: cover;
    align-items: center;
    background-color: transparent;
}

/* Medium screens  */
@media all and (max-width: 800px) {
}

/* Small screens */
@media all and (max-width: 500px) {
    .Accommodations-main {
        background-position: -170px -0px; 
    }
}