.Main {
  margin-top: 3%;
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 5%;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.App-main {
  flex-grow: 1;
  background-image: url("./pictures/29_IMG_0212.jpg");
  background-position: center bottom;
  background-size: cover;
  align-items: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.flex-grow{
  flex-grow: 1;
  flex-basis: auto;
}

.flex-dir-row{
  display: flex;
  flex-direction: row;
  align-self: center;
}

.App-intro {
  text-align: center;
  color: white;
}

.App-title {
  font-family: 'Dancing Script', cursive;
  font-size: 6.5em;
  margin-bottom: 15px;
  text-shadow: 2px 2px black;
}

.App-date {
  font-family: 'Old Standard TT', serif;
  font-size: 2.1em;
  font-style: italic;
  /* text-shadow: 2px 2px black; */
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Comming-soon {
  display: flex;
  height: 800px;
  justify-content: center;
  align-items: center;
}

/* Medium screens */
@media all and (max-width: 800px) {
  .App {
    /* When on medium sized screens, we center it by evenly distributing empty space around items */
    justify-content: space-around;
  }

  .App-title {
    font-size: 4.5em;
  }

  .App-date {
    font-size: 2.5em;
  }
}

/* Small screens */
@media all and (max-width: 500px) {
  .App {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }

  .App-intro {
    margin-top: 15%;
    margin-left: 15%;
  }

  .App-main {
    background-image: url("./pictures/home-mobile.jpg");
    /* background-position: -360px -0px; */
  }

  .App-title {
    font-size: 3em;
  }

  .App-date {
    font-size: 1.5em;
  }

  .flex-grow {
    flex-grow: 0;
  }
}