.Main {
  margin-top: 2%;
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 5%;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.App-main {
  flex-grow: 1;
  background-image: url("./pictures/29_IMG_0212.jpg");
  background-size: 100% 100%;
  align-items: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.flex-grow{
  flex-grow: 1;
  flex-basis: auto;
}

.flex-dir-row{
  display: flex;
  flex-direction: row;
  align-self: center;
}

.App-intro {
  text-align: center;
  color: white;
}

.App-title {
  font-family: 'Dancing Script', cursive;
  font-size: 6.5em;
  margin-bottom: 15px;
}

.App-date {
  font-family: 'Old Standard TT', serif;
  font-size: 2em;
  font-style: italic;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Comming-soon {
  display: flex;
  height: 800px;
  justify-content: center;
  align-items: center;
}