.Contact {
    display: flex;
    flex-direction: column;
    height: 100vh; 
    overflow: hidden;
    overflow-y: auto;
    background-color: #f4f8ff;
    padding: 5%;
    text-align: center;
    font-family: 'Old Standard TT', serif;
}

.Contact-main {
    flex-grow: 1;
    background-image: url("./pictures/acc.jpg");
    background-position: center bottom;
    background-size: cover;
    align-items: center;
}

.Contact-title {
    font-family: 'Dancing Script', cursive;
    font-size: 3.5em;
    text-align: center;
}

.Contact a {
    color: #56afbc;
}

.Contact-info p {
    font-size: 1.2em;
    margin: 10px;
}

.Contact-info {
    margin-bottom: 20px;
}

.Contact img {
    width: 90%;
    background: white;
    display: inline;
    margin: 0 15px 30px;
    padding: 10px 10px 25px;
    text-align: center;
    text-decoration: none;
    -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 4px 6px rgba(0,0,0,.3);
    box-shadow: 0 4px 6px rgba(0,0,0,.3);
    -webkit-transition: all .15s linear;
    -moz-transition: all .15s linear;
    transition: all .15s linear;
    z-index:0;
    position:relative;
}


/* Medium screens  */
@media all and (max-width: 800px) {
}

/* Small screens */
@media all and (max-width: 500px) {
    .Contact-main {
        background-position: -400px -0px; 
    }
}