.Events {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    overflow-y: auto;
    background-color: #f4f8ff;
    padding: 5%;
    text-align: center;
}

.Events-main {
    flex-grow: 1;
    background-image: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url("./pictures/events.jpg");
    background-position: center bottom;
    background-size: cover;
    align-items: center;
    background-color: transparent;
}

.Events-title {
    font-family: 'Dancing Script', cursive;
    font-size: 3.5em;
    text-align: center;
}

.Events-info {
    font-family: 'Old Standard TT', serif;
}

.Event-info-section{
    font-family: 'Old Standard TT', serif;
    font-size: 1.5em;
    text-align: center;
    margin: 30px;
    color: #2747ad;
}

.Events-info h3 {
    color: #56afbc;
}

.Events-info p {
    font-size: 1.1em;
}

.Events-button {
    color: white;
    padding: 10px 27px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 6px;
}

.Events-button a {
    text-decoration: none;
}

.Events-button a:hover {
    color: #0099ff;
}

/* Medium screens  */
@media all and (max-width: 800px) {
}

/* Small screens */
@media all and (max-width: 500px) {
    .Events-main {
        background-position: -370px -0px; 
    }
}