.Events {
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    overflow-y: auto;
    background-color: #f4f8ff;
    padding: 5%;
}

/* .Events-main {
    flex-grow: 1;
    background-image: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url("./pictures/events.jpg");
    background-position: center bottom;
    background-size: cover;
    align-items: center;
    background-color: transparent;
} */

.Events-title {
    font-family: 'Dancing Script', cursive;
    font-size: 3.5em;
    text-align: center;
}

.Events-info {
    font-family: 'Old Standard TT', serif;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 4%;
}

.Event-info-section{
    font-family: 'Old Standard TT', serif;
    font-size: 1.5em;
    text-align: center;
    margin: 4%;
    color: #2747ad;
}

.Events-info h3 {
    color: #56afbc;
}

.Events-info img, .Events-desc {
    width: 500px;
}

.Events-desc {
    text-align: center;
    align-self: center;
}

.Events-info p {
    font-size: 1.1em;
}

.Events-button {
    color: white;
    padding: 10px 27px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 6px;
}

.Events-button a {
    text-decoration: none;
}

.Events-button a:hover {
    color:#9ED4C8;
}

.Events-pic img {
    background: white;
    display: inline;
    margin: 0 15px 30px;
    padding: 10px 10px 25px;
    text-align: center;
    text-decoration: none;
    -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 4px 6px rgba(0,0,0,.3);
    box-shadow: 0 4px 6px rgba(0,0,0,.3);
    -webkit-transition: all .15s linear;
    -moz-transition: all .15s linear;
    transition: all .15s linear;
    z-index:0;
    position:relative;
}

/* Medium screens  */
@media all and (max-width: 800px) {
}

/* Small screens */
@media all and (max-width: 500px) {
    .Events-main {
        background-position: -370px -0px; 
    }

    .Events-info {
        flex-wrap: wrap;
    }

    .Events-desc {
        margin: 4%;
    }

    .Events-title {
        font-size: 2.5em;
    }

    .Event-info-section {
        font-size: 1.1em;
    }
}