.Feed {
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    overflow-y: auto;
    background-color: #f4f8ff;
    padding: 5%;
}

.Feed-title {
    font-family: 'Dancing Script', cursive;
    font-size: 3.5em;
    text-align: center;
}

.Feed-info p {
    font-family: 'Old Standard TT', serif;
    font-size: 1.2em;
    margin: 10px;
    text-align: center;
}

.Feed-ig {
    margin: 2%;
}