.NavBar {
    font-family: 'Old Standard TT', serif;
}

.NavBar-container {
    display: flex;
    justify-content: space-between;
}

.NavBar-main {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.NavBar-options{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 10px;
}

.NavBar-main,
.NavBar-option {
    margin: 8px;
    font-size: 1em;
}

.NavBar-heart{
    height: 16px;
    width: 16px;
    margin-left: 5px;
    margin-right: 5px;
}

.NavBar a:hover {
    color: #0099ff;
}

/* Medium screens */
@media all and (max-width: 800px) {
    .NavBar-options {
      /* When on medium sized screens, we center it by evenly distributing empty space around items */
      justify-content: space-around;
    }
  }
  
  /* Small screens */
  @media all and (max-width: 500px) {
    .NavBar-options {
      /* On small screens, we are no longer using row direction but column */
      flex-wrap: wrap;
    }
  }