.Photos {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    overflow-y: auto;
    background-color: #f4f8ff;
    padding: 5%;
}

.Photos-main {
    flex-grow: 1;
    background-image: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url("./pictures/gallery.jpg");
    background-position: center bottom;
    background-size: cover;
    align-items: center;
    background-color: transparent;
}

.Photos-title {
    font-family: 'Dancing Script', cursive;
    font-size: 3.5em;
    text-align: center;
}

.Photos-info-section{
    font-family: 'Old Standard TT', serif;
    font-size: 1.5em;
    text-align: center;
    margin: 4%;
    color: #2747ad;
}

.Photos-Gallery{
    flex-wrap: nowrap;
}

/* Medium screens  */
@media all and (max-width: 800px) {
}

/* Small screens */
@media all and (max-width: 500px) {
    .Photos-main {
        background-position: -400px -0px; 
    }

    .Photos-info-section{
        font-size: 1.1em;
    }
}